body{
  font-size: small;
  background-color: #ffffffad;

  font-family: Arial, sans-serif;
  }
  .white-text {
      color: white !important; /* The !important rule is to override any other styling */
      text-decoration: none; /* Optional: removes underline from links */
    }
    
    .white-text:hover {
      color: white; /* Keeps text white on hover */
    }


.banner {

top: 0;
position: relative;
width: 100%;
background-color: #3A63A8;
padding: 50px 0;
color: #ffffff;
/* background-image: url("/static/img/agriculture-banner.webp"); */
background-size: cover;
background-position: right;
opacity: 0.9;
}

.banner-content {
width: 50%;
margin: 0 auto;
text-align: center;
}

.banner-title {
font-size: 40px;
font-weight: bold;
margin-bottom: 30px;
font-weight: 100;
}

.banner-description {
font-size: 18px;
margin-bottom: 30px;
font-weight: lighter;
}

.banner-button {
padding: 10px 20px;
background-color: #ffffff;
color: #3A63A8;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
text-decoration: none !important;
}
.banner-button:hover {
padding: 10px 20px;
background-color: #abcaff;
color: #ffffff;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
text-decoration: none !important;
}

.logo p {
background-color: #ffffff75;
padding: 5px;
line-height: 0.7;
}

.header_background {
position: relative;
}

.header_background::before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: url('/static/img/flag.png') no-repeat center center / cover;
opacity: 0.5;
z-index: -1;  /* This ensures the background image stays behind the content */
}

.table-responsive-custom {
  display: block;
  width: 100%;
  overflow-x: auto;
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
}

footer {
background-color: #333;
color: #fff;
font-family: Arial, sans-serif;
padding: 20px 40px;
}

.footer-content {
margin: 0 auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.subscription {
flex: 6;
margin-bottom: 20px;

}

.useful-pages {
flex: 4;
margin-bottom: 20px;

}
.about-us {
  flex: 4;
  margin-bottom: 20px;
  font-weight: lighter !important;
  }

.footer-bottom {
flex-basis: 100%;
}

h3 {
font-size: 1.2em;
margin-bottom: 20px;
}

ul {
list-style: none;
padding: 0;
}

ul li {
margin-bottom: 10px;
}

p, ul li {
font-size: 0.9em;
line-height: 1.5;
}

a, table {
color: #000;
text-decoration: none;
}

.countdown-item {
  background-color: #dfdfdf;
  padding: 5px;
  margin: 2px;
  width: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
}
.large-image{
  object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
  object-position: top; /* Aligns the image to the top */
}

.card-img-top {
  height: 200px; /* Fixed height */
  object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
  object-position: top; /* Aligns the image to the top */
}

.card {
  height: 100%; /* Ensures that all cards have the same height */
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Spaces content evenly */
}
.card-title {
  height: 40px; /* Fixed height for the title */
  overflow: hidden; /* Prevents text from overflowing */
}