{% load static %}
<footer>
    <div class="container footer-content">
        <div class="useful-pages">
            <h3>USEFUL PAGES</h3>
            <p><a href="/broker/" class="white-text">Commodity Brokers</a></p>
        </div>

        <div class="about-us">
            <h3>ABOUT US</h3>
            <ul>
                <li>About Us</li>
                <li>Careers</li>
                <!-- <li>Disclosure of Advertising</li> -->
                <li>Terms of Use & Legal</li>
            </ul>
        </div>

        <section class="footer-bottom">
            <p>&copy; 2021-2023 Paysell-Commodity</p>
            <p>The content on this website is provided for informational purposes only and isn't intended to constitute professional financial advice. The content is provided on an as-is and as-available basis. Your use of the site is at your sole risk. Paysell is not liable for any damages arising out of the use of its contents. Paysell makes no warranty that its content will be accurate, timely, useful, or reliable. By using our site you agree to our <a href="#">Terms of Use</a>.</p>
        </section>
    </div>
</footer>