{% load static %}
<footer>
    <div class="container footer-content d-none d-md-flex">
        
        <iframe src="{% url 'subscribe' %}" frameborder="0" scrolling="no" style="border: none;" class="col-md-7"></iframe>

        <div class="col-sm-12 col-md-2">
            <h3>ABOUT US</h3>
            <ul>
                <li>Careers</li>
                <li><a href="{% url 'packages' %}" class="white-text"> Membership Packages</a></li>
                <!-- <li>Disclosure of Advertising</li> -->
            </ul>
        </div>

        <div class="col-sm-12 col-md-2">
            <h3>USEFUL PAGES</h3>
            <p><a href="{% url 'commodity_list' %}" class="white-text">Find Commodities</p>
            <p><a href="/broker/" class="white-text">Commodity Suppliers</a></p>
            {% if user.is_authenticated and user.is_superuser %}
                   <p><a href="{% url 'commodity-price-entry' %}" class="white-text">Post Prices</a></p>
            {% endif %}
        </div>

        <div style="padding-left: 20px;">
            <p>&copy; 2021-2023 Paysell-Commodity</p>
            <p>The content on this website is provided for informational purposes only and isn't intended to constitute professional financial advice. The content is provided on an as-is and as-available basis. Your use of the site is at your sole risk. Paysell is not liable for any damages arising out of the use of its contents. Paysell makes no warranty that its content will be accurate, timely, useful, or reliable. By using our site you agree to our <a href="#" class="white-text">Terms of Use</a>.</p>
        </div>
    </div>
</footer>