{% extends 'commodity/base.html' %}

{% block content %}
<style>
    .clickable:hover {
      cursor: pointer;
    }
    .commodity-details{
        text-align: center;
    }

    .slider-container {
        position: fixed;
        top: 0;
        right: -50%; /* Hide slider by default */
        width: 50%;
        height: 100%;
        background: #fffffffa;
        box-shadow: -2px 0 5px rgba(0,0,0,0.3);
        z-index: 9999;
        transition: right 0.3s;
    }
    .slider-content {
        padding: 20px;
        overflow-y: auto;
        height: 90%;
    }
    #close-slider {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>
    
<div class="container mt-5">
    <!-- Add dropdown for selecting market -->
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form method="get" class="mb-3">
                <div class="form-group">
                    <select name="market" id="market" class="form-control" onchange="this.form.submit()">
                        {% for market in markets %}
                        <option value="{{ market.id }}" {% if request.GET.market == market.id|stringformat:"s" %}selected{% endif %}>{{ market.name }}</option>
                        {% endfor %}
                    </select> 
                </div>
            </form>
        </div>
    </div>

    <!-- Display current filter -->
    {% if request.GET.market %}
        <p>Showing commodities for market: <strong>{{ request.GET.market }}</strong></p>
    {% else %}
        <p>Showing commodities for all markets</p>
    {% endif %}

    <div class="table-responsive-custom">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th><a href="?sort=name{% if request.GET.market %}&market={{ request.GET.market }}{% endif %}">Commodity</a></th>
                    
                    <th>
                        <a href="?sort=type{% if request.GET.market %}&market={{ request.GET.market }}{% endif %}"> Type</a>
                    </th>
                    <th>Previous Average Price</th>
                    <th>Today's Average Price</th>
                    <th>Difference Average</th>
                    <th>Highest Price Today</th>
                    <th>Lowest Price Today</th>
                    <th>Percentage Change</th>
                    <th>7-Day Average Price</th>
                </tr>
            </thead>
            <tbody>
                {% for commodity_data in commodities_data %}
                <tr class="clickable" onclick="openSlider(`{{ commodity_data.commodity_id }}`);">
                    <td>{{ commodity_data.name }}</td>
                    <td>{{ commodity_data.commodity_type_name }}</td>
                    <td>{{ commodity_data.avg_previous_price|floatformat:2 }}</td>
                    <td>{{ commodity_data.avg_today_price|floatformat:2 }}</td>
                    <td>{{ commodity_data.difference|floatformat:2 }}</td>
                    <td>{{ commodity_data.highest_today_price|floatformat:2 }}</td>
                    <td>{{ commodity_data.lowest_today_price|floatformat:2 }}</td>
                    <td>
                        <span class="{% if commodity_data.percentage_change > 0 %}text-success{% elif commodity_data.percentage_change < 0 %}text-danger{% endif %}">
                            <div class="row">
                                <div class="col-md-10">
                                    {{ commodity_data.percentage_change|floatformat:2 }}%
                                </div>
                                <div>
                                    {% if commodity_data.percentage_change > 0 %} 🔼{% elif commodity_data.percentage_change < 0 %} 🔽{% else %} ➡️ {% endif %}
                                </div>
                            </div>
                        </span>
                    </td>
                    <td>{{ commodity_data.avg_price|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9">No price entries available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

   <!-- Bootstrap Pagination Controls -->
<nav aria-label="Commodity pagination">
    <ul class="pagination justify-content-center">
        {% if commodities_data.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1{% if request.GET.market %}&market={{ request.GET.market }}{% endif %}" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ commodities_data.previous_page_number }}{% if request.GET.market %}&market={{ request.GET.market }}{% endif %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        
        {% for num in commodities_data.paginator.page_range %}
        <li class="page-item {% if commodities_data.number == num %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}{% if market_filter %}&market={{ market_filter }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}">{{ num }}</a>

        </li>
        {% endfor %}
        
        {% if commodities_data.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ commodities_data.next_page_number }}{% if request.GET.market %}&market={{ request.GET.market }}{% endif %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ commodities_data.paginator.num_pages }}{% if request.GET.market %}&market={{ request.GET.market }}{% endif %}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

    

</div>
<div id="slider" class="slider-container">
    <div id="slider-content" class="slider-content">
        <!-- Content will be loaded here dynamically -->
    </div>
    <button id="close-slider" class="btn btn-danger">&times; Close</button>
</div>
<script>
    function openSlider(commodityId) {
        fetch(`/commodity-details/${commodityId}`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('slider-content').innerHTML = html;
                document.getElementById('slider').style.right = '0';
            });
    }

    document.getElementById('close-slider').addEventListener('click', function() {
        document.getElementById('slider').style.right = '-50%';
    });

    // Close the slider if clicked outside
    window.addEventListener('click', function(event) {
        var slider = document.getElementById('slider');
        // Use contains to check if the clicked area is not the slider or a child of the slider
        if (!slider.contains(event.target)) {
            slider.style.right = '-50%';
        }
    });
</script>

    
{% endblock %}
